# Игнорировать виртуальное окружение
.venv/
venv/

# Игнорировать кеши Python
__pycache__/
__pycache__
*.pyc
*.pyo

# Игнорировать IDE-файлы
.vscode/
.idea/

# Игнорировать большие файлы
*.log
*.sqlite3
